.about {
  transition: 0.3s;
  background-color: rgba(67, 135, 238, 0.842);
  padding: 0 15vw;
  border-radius: 10px;
  box-shadow: 0 60px 40px 15px rgba(77, 77, 77, 0.575);
  margin-bottom: 2vh;
}
.about::before {
  content: "";
  width: 100px;
  height: 70px;
  background-color: rgb(243, 243, 243);
  clip-path: polygon(100% 0%, 0% 0%, 50% 30%);
}
.aboutText {
  color: white;
  width: 56vw;
  font-size: 2rem;
}
@media (max-width: 1024px) {
  .aboutText {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .aboutText {
    font-size: 0.7rem;
  }
}
