.me {
  width: 15vw;
  height: 15vw;
  border: solid #888 2vh;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 50px 5px rgba(77, 77, 77, 0.575);
  -moz-box-shadow: 0 0 50px 5px rgba(77, 77, 77, 0.575);
  box-shadow: 0 0 50px 5px rgba(77, 77, 77, 0.575);
}

.upperHalf {
  text-align: left;
  justify-content: space-around;
  align-items: center;
  margin: 7vh 10vw 0 10vw;
}
.col {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
h1 {
  color: white;
  font-size: 2.5vw;
}
h3 {
  font-size: 4.2vw;
  color: #888;
}
h2 {
  font-size: 1.7vw;
  color: white;
}
